*{
    padding: 0%;
    background-image: url('astro_2.gif');
    background-repeat: no-repeat;
    background-position:top;
    background-size: 100%;
  background-attachment: fixed;
 font-family: 'Poppins', sans-serif;
  /*--content-width: calc(var(--column-count) * var(--tile-size) + 1px);
  display: flex;
  flex-wrap: wrap;
  height: calc(var(--row-count) * 128px);
  justify-content: center;
  overflow: hidden;
  width: calc(var(--content-width) + 12px);*/
  
}
body {
  
  overflow:hidden;
  display: flex;
  justify-content: center;
  align-items: center;
 /* min-width: 100vh;*/
 min-height: 60vh;
  flex-direction: column;
 
 
} 
h1 {
    /*font-family:Georgia, 'Times New Roman', Times, serif;*/
    text-align: center;
    margin-top: 150px;
    font-size: /*150px*/50px;
    font-weight: /*800*/80;
    color: transparent;
    background-image: url(https://media.giphy.com/media/2tTh7wB6DtL1QQvAF5/giphy.gif);
    background-position: center;
    -webkit-background-clip: text;
 
}
a {
   position:absolute;
    display: inline-block;
    padding: 12px 36px;
   margin: 10px 40px;
align-items: center;
    color: #fff;
    background: /*green*/ linear-gradient(90deg,#008000,#00ff00);
    border-radius: 40px;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 2px;
    overflow: hidden;
   
}

/*https://media.giphy.com/media/10j4fJ3KSGQo1y/giphy.gif*/


/*https://media.giphy.com/media/l46CBNZrlnQUH8oMg/giphy.gif*/
/*https://media.giphy.com/media/MBfLHGvyyeQgH8UknX/giphy.gif*/
span 
{
    position: absolute;
    background:#fff;
    transform: translate(-50%,-50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate 1s linear infinite;
}
@keyframes animate
{
    0%
    {
        width: 0;
        height: 0;
        opacity: 0.2;
    }
    100%
    {
        width: 500px;
        height: 500px;
        opacity: 0.5;
    }
}

@media screen and (max-width: 1300px){
    * {
        /*background-image: url(https://media.giphy.com/media/14u2ZI1XhkoZCU/giphy.gif);*/
        background-image: url(https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif);
    }
    /*
    .main
    {
        width: 100%;
    }
    aside
    {
        width: 100%;
    }
    */
}
@media screen and (min-height: 775px){

    /*
    a {

        position:absolute;
         display: inline-block;
        padding: 12px 16px;
         margin: 10px 10px;
     
         color: #fff;
         background: linear-gradient(90deg,#008000,#00ff00);
         border-radius: 40px;
         
         font-size: 18px;
         text-decoration: none;
         letter-spacing: 2px;
         overflow: hidden;
     }
     
     h1 {
        font-size: 150px;
        font-weight: 800;
      position:static;
     }
     */
    }
     @media screen and (max-width: 600px){

         h1 {
         position: relative;
          
         }
         
}
audio{
    
}